/* li {
  color: red;
  background-color: rgba(0, 0, 0, 1);
}

a {
  color: green;
}

h1 {
  background-color: lightgray;
  color: hsl(270, 60%, 70%);
}

body {
  background-image: url(bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  border-color: blueviolet;
  border-style: solid;
  border-radius: 10px
} */

/* p {
  color: red;
  line-height: 2;
  text-align: justify;
  font-weight: bold;
  border: solid 2px;
} */

span {
  font-size: 2em;
  font-weight: bold
}

#special {
  color: red;
  width: 50%;
  padding: 10px 30px;
  margin: 30px;
}

.pctest {
  color: green;
}

a {
  text-decoration: wavy underline
}