<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div>{{ today | date : 'dd-MMM-yyyy' }}</div>
      <h2 appHighlight>Store App</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <h3>Product Form</h3>

      <app-product-form (productCreated)="onProductCreated($event)"></app-product-form>

    </div>

    <div class="col-md-7">
      <h3>Products</h3>

      <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="searchText">
      <br>

      <app-product-detail [product]="p" *ngFor="let p of products | search : searchText : 'description'"></app-product-detail>
    </div>

  </div>

</div>
